<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Kto zamawia obiad</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'losowisko1/css/bootstrap.css' %}">
</head>

<body>
  <div class="container">
    <div class="bs-docs-section">
      <div class="bs-docs-section">
        <div class="row">
          <div class="col-lg-12">
            <div class="bs-component">
              <div class="jumbotron">
                <center>
                  <h1 class="display-3">Witaj w MILOsowisku !</h1>
                  <p class="lead">Zaznacz osoby które dziś biorą udział w losowaniu</p>
                  <hr class="my-4">
                </center>
                <form action="wynik">
                  <fieldset>
                    <legend>Kto zamawia</legend>
                    {% block content %}
                    {% for entry in entries %}
                    <div class="form-group">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" name="osoby" class="custom-control-input" id="{{ entry.id }}" value="{{ entry.name }}">
                        <label class="custom-control-label" for="{{ entry.id }}">{{ entry.name }}</label>
                      </div>
                      {% endfor %}
                      {% endblock %}
                  </fieldset>
                  <input type="submit" class="btn btn-warning" value="Losuj">
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
